.rules {
  padding: 70px 0px;
  background-color: $light;
  @media (max-width: $mobile) {
    padding: 40px 0px;
  }
  &__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: lowercase;
  }

  &__body {
  }

  &__item {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0px;
    border-bottom: 1px solid $black;
    line-height: 130%;
    @media (max-width: $mobile) {
      font-size: 15px;
      padding: 15px 0px;
    }
    transform: translate(-100px, 0px);
    opacity: 0;
    transition: all 0.5s;
    &._active {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
