@import '_null.scss';
@import '_mixin';
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
html {
  &.lock {
    overflow: hidden;
  }
}
body {
  color: $black;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  &._lock {
    overflow: hidden;
  }
  &.lock {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
  }
}
main {
  flex: 100%;
}

[class*='__container'] {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0px 15px;
}

@import '_header';
@import '_bg';
@import '_main';
@import '_about';
@import '_categories';
@import '_rules';
@import '_footer';

.header__lols {
  display: flex;
  gap: 15px;
  align-items: center;
  @media (max-width: $mobile) {
    gap: 5px;
  }
}
